.myTab {
    display: flex;
    gap: 10px;
}
.myTab div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.myTab div *{
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.myTab button {
    cursor: pointer;
    background: #6e6e6e;
    color: #fff;
}