svg{
    height: 100vh;
    width: 100%;
}

#minute {
    transform-box: border-box;
    transform-origin: bottom;
    animation: minute 60s steps(60) infinite;
}
#heure {
    transform-box: border-box;
    transform-origin: 0 100%;
    animation: minute 3600s linear infinite;
}

#ligne {
    stroke: #fff;
    stroke-dasharray:50;
    animation: ligne 1s infinite linear;
}

#heart path{
    fill: transparent;
    stroke: red;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
}
#heart:hover path {
    animation: heart 1s linear;
    animation-fill-mode: forwards;
}

@keyframes heart {
    0% {
        fill: transparent;
        stroke-dashoffset: 100;
    }
    75% {
        stroke-dashoffset: 25;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: red;
    }
}

@keyframes minute {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ligne {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}