body {
    margin: 0;
    min-height: 100vh;
    background-image: url(img/ppLucy.jpg), radial-gradient(red 50%, transparent 50%), linear-gradient(blue, black);
    background-size: 300px 300px, 200px 200px, 100vw 100vh;
    background-repeat: no-repeat, repeat, no-repeat;
    background-position: bottom left, top left, top left;
}